html{
  font-family: helvetica; /*love it or hate it without it everything would look like cursive*/
  font-size: 18px; /*base 1rem size*/
}

header{
  background-image: url("../images/glasses-bg.png"); /*adds image*/
  background-repeat: no-repeat; /*adds a no repeat so it only appears once*/
  background-size: cover; /* makes image shrink to the size of the available area*/
  background-position: center; /*centers the background image*/
  padding-top: 1rem; /* leavea a 1rem gap at the top of the cadetblue header area*/
  height: 30rem; /*sets the height of the header area to 30rem*/
}

header img{
  margin: 0 1rem 0 2rem; /*top 0, right 1rem, bottom 0, left 2rem*/
  height: 1.5rem; /*height of the image per the redline document*/
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
}
nav div{
  display: flex;
  align-items: center
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.menu {
  display: flex;
  align-items: center;
}

.menu_large{
  padding: 1rem 0;
}

.menu_small{
  display: none;
}

.menu_large span{
  display: inline;
  padding: 0 1rem;
}

.tagline{
  background-color: white;
  padding: 1.5rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
}

header .flex {
  justify-content: flex-end;
}

.products {
  display: flex; /* make this a flex*/
  justify-content: center; /* center the boxes*/
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.product img {
  width: 5rem;
}

img.paper {
  width: 3.5rem;
}

.details {
  display: flex;
  justify-content: center;
}

.detail {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.detail_header {
  background-color: cadetblue;
  padding: .5rem 1.25rem;
  color: white;
  max-width: 10rem;
}

footer{
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem;
}

footer img{
  display: block;
  height: 1.5rem;
  margin-right: 1rem;
}

.flex {
  display: flex;
}

.container{
  max-width: 960px;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

@media only screen and (max-width: 900px){
  header{
    padding-top: 0;
    height: 22rem;
  }
  h2{
    font-size: 1.33rem;
  }
  .tagline{
    margin: 5rem 2rem;
  }
  .container{
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  header{
    padding-top: 0;
    height: 17rem;
    background-position: 20%;
  }
  nav{
    padding-top: 1em;
    padding-bottom: 1em;
  }
  h2{
    font-size: 1rem;
  }
  .tagline{
    width: 100%;
    margin: 9rem 0;
    padding: 1rem 0;
    text-align: center;
  }
  .container{
    width: 100%;
  }
  .menu_small{
      display: block;
      margin-right: 1rem;
  }
  .menu_large span{
    display: inline;
    padding: 0 1rem;
  }
  .menu_large{
    display: none;
  }
  .products{
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product{
    margin: 1.54rem;
    height: auto;
  }
  .product div {
    margin-top: 1em;
  }

  .details{
    flex-direction: column;
    align-items: center;
  }
  .detail {
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
  }
  .detail_header{
    max-width: none;
    width: 100%
  }

  footer{
    justify-content: center;
    align-items: center;
  }

  footer div {
    display: none;
  }
}
