html{
  font-family: helvetica; /*love it or hate it without it everything would look like cursive*/
  font-size: 18px; /*base 1rem size*/
}

header{
  background-image: url("../images/glasses-bg.png"); /*adds image*/
  background-repeat: no-repeat; /*adds a no repeat so it only appears once*/
  background-size: cover; /* makes image shrink to the size of the available area*/
  padding-top: 1rem; /* leavea a 1rem gap at the top of the cadetblue header area*/
  height: 30rem; /*sets the height of the header area to 30rem*/
}

header img{
  padding: 0 1rem 0 2rem; /*top 0, right 1rem, bottom 0, left 2rem*/
  height: 1.5rem; /*height of the image per the redline document*/
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
}
nav div{
  display: flex;
  align-items: center
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.menu_large{
  padding: 1rem 0;
}

.menu_small{
  display: none;
}

.menu_large span{
  display: inline;
  padding: 0 1rem;
}

.tagline{
  background-color: white;
  padding: .75rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
}

header .flex {
  justify-content: flex-end;
}

.flex {
  display: flex;
}

.container{
  max-width: 960px;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

@media only screen and (max_size: 600px){
  .menu_large span{
    display: none;
  }
  .menu_small span{
    display: inline;
  }
}
